HELP.md
.env
.gradle
build/classes
build/generated
build/reports
build/resources
build/test-results
build/tmp
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!build/libs
!build/libs/*.jar  # Исключаем jar файлы из общего правила
!*/b
.env
### STS ###
.apt_generated
.database-creation-ddl.sql
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
uploads/0717b08a-3307-434a-b25b-37fd88fd5436_Aad_tNxarso.jpg
uploads/0717b08a-3307-434a-b25b-37fd88fd5436_DALL·E 2024-01-03 18.22.51 - Create an illustration for the service of developing intelligent voice bots. Visualize a sleek and modern representation of a voice bot, perhaps as an.png
src/old_env
build/libs/noteapp-0.0.1-SNAPSHOT-plain.jar
uploads/0717b08a-3307-434a-b25b-37fd88fd5436_Android - 411x823.svg
